LISTDIR=/usr/local/etc/poudriere.d/lists/
PACKDIR=/usr/local/poudriere/data/packages/
HTMLDIR=/usr/local/www/pkg/

jail_10amd64-q() {
  LISTFILE=${LISTDIR}/quarterly-list
  JAIL=10amd64
  ARCH=AMD64
  ARCHL=amd64
  PORTS=quarterly
  PACKAGEDIR=${PACKDIR}/10amd64-${PORTS}/All
  HTMLFILE=${HTMLDIR}/packages-amd64.html
  HTMLVERSION="10.x"
}

jail_11amd64-q() {
  LISTFILE=${LISTDIR}/quarterly-list
  JAIL=11amd64
  ARCH=AMD64
  ARCHL=amd64
  PORTS=quarterly
  PACKAGEDIR=${PACKDIR}/11amd64-${PORTS}/All
  HTMLFILE=${HTMLDIR}/packages-11amd64.html
  HTMLVERSION="11.x"
}

jail_10amd64-head() {
  LISTFILE=${LISTDIR}/head-list
  JAIL=10amd64
  ARCH=AMD64
  ARCHL=amd64
  PORTS=head
  PACKAGEDIR=${PACKDIR}/10amd64-${PORTS}/All
  HTMLFILE=
}

jail_11amd64-head() {
  LISTFILE=${LISTDIR}/head-list
  JAIL=11amd64
  ARCH=AMD64
  ARCHL=amd64
  PORTS=head
  PACKAGEDIR=${PACKDIR}/11amd64-${PORTS}/All
  HTMLFILE=
}
